p {
  text-align: center;
  font-family: 'Courier New', Courier, monospace
}

h1 {
  text-align: center;
  font-family: 'Courier New', Courier, monospace
}

img {
  border: 10px solid #555; 
}

.centre {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: -40px;
}